<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <img src="{{ asset("assets/img/image0.jpg")}}">

        
        {% block javascripts %}{% endblock %}
    </body>
</html>
